*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    width: 100vw;
    height: auto;
}
body{
    width: 100%;
    height: auto;
    background-color: #101623;
}
section {
    min-height: 50vh;
    margin-top: 25vh;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
    background-color: #101623;
    padding: 1em;
}
.column{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.left {
    align-items: flex-start;
    justify-content: flex-start;
}
.center {
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 762px) {
    .row {
        flex-flow: column;
    }
    .column {
        width: 100%;
    }
}

h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 5em;
    color: #11A1B5;
    text-shadow: 2px 2px #000;
}
h2 {
    margin: 0 0 1em 0;
    font-family: "Amaranth", sans-serif;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #EAA64D;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
}
h3{
    font-family: "Source Code Pro", monospace;
    font-size: 1.5em;
    color: #101623;
}
p {
    font-family: "Source Code Pro", monospace;
    color: whitesmoke;
    margin: 0 0 1em 0;
}
@media screen and (max-width: 850px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 0.75em;
    }
}

img {
    width: 100%;
}
.column img {
    width: 90%;
    border-radius: 50%;
}

/*header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #101623;
    transition: top 0.5s ease-out;
    z-index: 15;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 0 auto 0;
}
.nav-item {
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    size: 2em;
    color: #11A1B5;
    transition: color 0.25s ease-in;
}
.nav-item:hover {
    color: #EAA64D;
}
.burger {
    display: none;
    color: white;
    transition: color;
    font-size: 1.5em;
    margin-left: 1em;
} 
@media screen and (max-width: 600px){
    nav {
        position: absolute;
        left: 0px;
        height: 100vh;
        top: 0;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        width: 40%;
        background-color: #101623;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        -webkit-transition: -webkit-transform 0.5s ease-in;
    }
    .nav-active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    .navItem {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        transition: transform 0.5s ease;
        order: 1;
    }
}
.background-img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

#welcome .row {
    background-color: transparent;
}
#welcome .column {
    align-items: center;
    justify-content: center;
}
#welcome h1 span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-decoration: underline;
}

#webdevelopment .left {
    order: 2;
}
#webdevelopment .center {
    order: 1;
}
@media screen and (max-width: 762px){
    #webdevelopment .left {
        order: 1;
    }
    #webdevelopment .center {
        order: 2;
    }
}

.gallery {
    flex-wrap: wrap;
}
.gallery-item{
    width: 25%;
    text-decoration: none;
}
@media screen and (max-width: 765px){
    .gallery{
        align-items: center;
    }
    .gallery-item{
        width: 80%;
    }
}
.thumbnail {
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #EAA64D;
    transition: transform 0.25s ease-in;
}
.thumbnail:hover {
    transform: scale(1.10);
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #11A1B5;
}
ul a {
    color: #EAA64D;
}
@media screen and (max-width: 600px){
    ul {
        font-size: 1.25em;
    }
}