@use "colors";
@use "mixins";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
  background-color: colors.$background-primary;
}

body {
  min-height: 100%;
}

h1, h2, h3, p {
  font-weight: 600;
  font-stretch: condensed;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  color: colors.$highlight-primary;

  @include mixins.respond-to('medium') {
    font-size: 2rem;
  }
  @include mixins.respond-to('large') {
    font-size: 4rem;
  }
}
h2 {
  color: colors.$highlight-primary;
  font-size: 1.5rem;

  @include mixins.respond-to('medium'){
    font-size: 2rem;
  }
  @include mixins.respond-to('large') {
    font-size: 4rem;
  }
}
h3 {
  font-size: 1rem;
  color: colors.$white;

  @include mixins.respond-to('medium') {
    font-size: 1.25rem;
  }
  @include mixins.respond-to('large') {
    font-size: 2rem;
  }
}
p, a, li {
  font-weight: normal;
  font-size: 1rem;
  color: colors.$white;

  @include mixins.respond-to('medium') {
    font-size: 1.25rem;
  }
  @include mixins.respond-to('large') {
    font-size: 2rem;
  }
}

a {
  color: colors.$highlight-secondary;
  transition: color 0.5s ease-in;

  &:hover {
    color: colors.$highlight-primary;
  }
}