@use "colors";
@use "mixins";

html {
  overflow-x: hidden;
}

h1, h2, h3, p{
  font-weight: 600;
  font-stretch: condensed;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  color: colors.$highlight-primary;

  @include mixins.respond-to('medium') {
    font-size: 2rem;
  }
  @include mixins.respond-to('large') {
    font-size: 4rem;
  }
}
h2 {
  color: colors.$highlight-primary;
  font-size: 1.5rem;

  @include mixins.respond-to('medium'){
    font-size: 2rem;
  }
  @include mixins.respond-to('large') {
    font-size: 4rem;
  }
}
h3 {
  font-size: 1rem;
  color: colors.$white;

  @include mixins.respond-to('large') {
    font-size: 1.25rem;
  }
  @include mixins.respond-to('large') {
    font-size: 2rem;
  }
}
p, a {
  font-weight: normal;
  font-size: 1rem;
  color: colors.$white;

  @include mixins.respond-to('medium') {
    font-size: 1.25rem;
  }
}
