@use "colors";
@use "mixins";

$breakpoint: 'large';

.main {
  width: 100%;
  height: 100vh;
  background-color: colors.$background-primary;
  padding-top: 1rem;
}

.banner {
  display: block;
  position: relative;
  z-index: 1;

  width: 100%;
  overflow: hidden;

  @include mixins.respond-to($breakpoint){
    @include mixins.flex-flow();
    @include mixins.flexJustify-Align(space-around);
    height: 90vh;
  }

  .title {
    @include mixins.absoluteTopLeft(5vw, 5vw);
    letter-spacing: 10px;
    text-shadow: black 2px 2px;
    z-index: 2;

    h1, h3{
      margin: 0;
    }
    h3 {
      width: 60%;
      margin-top: 1rem;
      line-height: 150%;

      @include mixins.respond-to($breakpoint){
        width: auto;
      }
    }

    @include mixins.respond-to($breakpoint){
      position: static;
    }
  }

  .profileImage {
    width: 100%;
    height: auto;
    z-index: 2;

    @include mixins.respond-to($breakpoint){
      width: 40%;
      border-radius: 50%;
      border: colors.$highlight-secondary 2px solid;
    }
  }
  .background {
    display: none;

    @include mixins.respond-to($breakpoint){
      display: block;
      @include mixins.absoluteTopLeft();

      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}