$breakpoints: (
        'small': 600px, //phones
        'medium':  767px, //portrait tablet & large phones
        'large': 992px, //landscape tablet & small computers screens
        'extra large':  1200px //big computer screens
) !default;

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin flex-flow($direction: row, $wrap: nowrap){
  display: flex;
  flex-flow: $direction $wrap;
}
@mixin flexJustify-Align($justify: center, $align: center){
  justify-content: $justify;
  align-items: $align;
}

@mixin absoluteTopLeft($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}
