@use 'colors';
@use 'mixins';

%showcaseItem {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;

  background-color: colors.$background-secondary;
  text-decoration: none;

  @include mixins.respond-to('large') {
    padding: 2rem 0;
    flex-flow: row nowrap;
    gap: 0;
  }
}

.title {
  @include mixins.flex-flow(column);
  @include mixins.flexJustify-Align(center, center);
  text-align: center;

  @include mixins.respond-to("large") {
    width: 50%;
    padding: 0 1rem;
  }
}

.thumbnail {
  display: flex;
  align-content: center;
  background-color: colors.$highlight-secondary;
  width: 90%;

  @include mixins.respond-to("large") {
    width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: auto;

    scale: 90%;
  }
}

.left {
  @extend %showcaseItem;
  margin-right: 1rem;

  .thumbnail {
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    align-self: flex-start;

    img {
      transform: translateX(-10%);
      clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    }
  }

  @include mixins.respond-to("large") {
    margin-right: 4rem;

    .thumbnail {
      order: 1;
      align-self: center;
    }
    .title {
      order: 2;
    }
  }
}
.right {
  @extend %showcaseItem;
  margin-left: 1rem;


  .thumbnail {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    justify-content: flex-end;
    align-self: flex-end;

    img {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
      transform: translateX(10%);
    }
  }

  @include mixins.respond-to("large") {
    margin-left: 4rem;

    .thumbnail {
      order: 2;
      align-self: center;
    }
    .title {
      order: 1;
    }
  }
}