@use 'colors';
@use 'mixins';

.textBlock {
  @include mixins.flex-flow();
  @include mixins.flexJustify-Align();
  padding: 1rem;

  @include mixins.respond-to('extra large'){
    padding: 4rem;
  }
}

.container {
  width: 100%;
  background-color: colors.$background-secondary;
  padding: 1rem;

  @include mixins.respond-to('extra large'){
    padding: 2rem;
  }

  p {
    padding-top: 1rem;

    @include mixins.respond-to('extra large'){
      padding-top: 2rem;
    }
  }
}